@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #000000;
  --swiper-navigation-color: #ef4444;
  --swiper-theme-color: #ef4444;
  --swiper-theme-color-hover: #dc2626;
  --swiper-pagination-bullet-inactive-color: #9ca3af;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-navigation-size: 28px;
}

[data-theme='dark'] {
  --background: #18181b;
  --foreground: #ffffff;
  --color-primary: #ffffff;
  --swiper-theme-color: #f87171;
  --swiper-theme-color-hover: #dc2626;
  --swiper-pagination-bullet-inactive-color: #6b7280;
}

html {
  scroll-behavior: smooth;
  transition: background-color 0.3s ease-in-out;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--swiper-theme-color);
  transition: color 0.3s ease-in-out;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--swiper-theme-color-hover);
}

.swiper-button-next::after, 
.swiper-button-prev::after {
   font-size: var(--swiper-navigation-size)
}

.swiper-pagination-bullet {
  background-color: #000;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}
